// Footer Information goes here!!

footer {
    width: 100%;
    margin: 0 auto;
    height: 75px;
    background-color: @footerColor;
    color: @footerText;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    bottom: 0;
    @media @phone {
        margin-top: 10%;
    }
    p {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }
    h4 {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }
}