    
//Escaping code (variables) goes here

// @backgroundColor: hotpink;

@bubbleColor: white;

@buttonOneColor: #49C1A7;

@textColor: #424242;

@navText: white;

@navHover: #D0CCD0;

@footerColor: #3D393C;

@footerText: #D0CCD0;

@textColor: #424242;

// Escapes

@phone: ~"(max-width: 500px)";

@tablet: ~"(min-width: 800px)";